<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceLayerWcfServiceDefinition" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8734/ServiceLayerWcfServiceDefinition/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLayerWcfServiceDefinition"
                contract="SR_ServiceLayerWcf.IServiceLayerWcfServiceDefinition"
                name="BasicHttpBinding_IServiceLayerWcfServiceDefinition" />
        </client>
    </system.serviceModel>
</configuration>