<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <!-- Data Layer config BEGIN-->
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWcfServiceDefinition" />
        <binding name="AsmxServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/WcfServiceDefinition/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfServiceDefinition"
          contract="SR_StudentWcf.IWcfServiceDefinition" name="BasicHttpBinding_IWcfServiceDefinition" />
      <endpoint address="http://localhost:64442/AsmxService.asmx" binding="basicHttpBinding"
          bindingConfiguration="AsmxServiceSoap" contract="SR_PersonAsmx.AsmxServiceSoap"
          name="AsmxServiceSoap" />
    </client>
    <!-- Data Layer config END-->

    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="ServiceLayerServiceDefinition.ServiceLayerWcfServiceDefinition">
        <endpoint address="" binding="basicHttpBinding" contract="ServiceLayerServiceDefinition.IServiceLayerWcfServiceDefinition">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8734/ServiceLayerWcfServiceDefinition/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>