<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWcfServiceDefinition" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/WcfServiceDefinition/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfServiceDefinition"
                contract="SR_StudentWcf.IWcfServiceDefinition" name="BasicHttpBinding_IWcfServiceDefinition" />
        </client>
    </system.serviceModel>
</configuration>