<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWcfServiceDefinition" />
                <binding name="BasicHttpBinding_IServiceLayerWcfServiceDefinition" />
                <binding name="AsmxServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/WcfServiceDefinition/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWcfServiceDefinition"
                contract="SR_StudentServiceWcf.IWcfServiceDefinition" name="BasicHttpBinding_IWcfServiceDefinition" />
            <endpoint address="http://localhost:8734/ServiceLayerWcfServiceDefinition/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceLayerWcfServiceDefinition"
                contract="SR_ServiecLayerWcf.IServiceLayerWcfServiceDefinition"
                name="BasicHttpBinding_IServiceLayerWcfServiceDefinition" />
            <endpoint address="http://localhost:64442/AsmxService.asmx" binding="basicHttpBinding"
                bindingConfiguration="AsmxServiceSoap" contract="SR_PersonAsmx.AsmxServiceSoap"
                name="AsmxServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>